<a href="https://colab.research.google.com/github/otatips/Data-Wrangling-with-Python-Theory/blob/master/Copy_of_Practice_Notebook_Data_Wrangling_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="blue">To use this notebook on Colaboratory, you will need to make a copy of it. Go to File > Save a Copy in Drive. You can then use the new copy that will appear in the new tab.</font>

# Practice Notebook: Data Wrangling with Python

## Pre-requisites

In [0]:
# Pre-requisite 1
# ---
# Importing pandas library for data manipulation
# ---
# OUR CODE GOES BELOW
# 
import pandas as pd

In [0]:
# Pre-requisite 2
# ---
# Importing numpy library for scientific computations
# ---
# OUR CODE GOES BELOW
# 
import numpy as np

## 1. Reading Data

In [3]:
# Example 1
# --- 
# Loading a dataset (csv file) from a url 
# ---
# Dataset url (csv file) = http://bit.ly/IrisDataset
# ---
# OUR CODE GOES BELOW
# 

# Reading our csv file from the given url 
df = pd.read_csv("http://bit.ly/IrisDataset")

# Previewing the first 5 records
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
# Challenge 1a
# ---
# Question: Load the following video games dataset and preview the first 5 records.
# Hint: Use a different dataframe that the one used in the example dataset 
#       i.e. using the dataframe name "video_df" rather using the dataframe name "df"
#       If you use the same dataframe names for the examples and challenges you 
#       might experience a crash.
#       We will be using this dataset for most of the challenges.
# ---
# Dataset url (csv file) = http://bit.ly/VideoGamesSalesDataset
# ---
# OUR CODE GOES BELOW
#
df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")

df.head()

                       Name Platform  ...  User_Count Rating
0                Wii Sports      Wii  ...       324.0      E
1         Super Mario Bros.      NES  ...         NaN    NaN
2            Mario Kart Wii      Wii  ...       712.0      E
3         Wii Sports Resort      Wii  ...       193.0      E
4  Pokemon Red/Pokemon Blue        G  ...         NaN    NaN

[5 rows x 15 columns]

In [11]:
# Challenge 1b
# ---
# Question: Load a dataset (excel file) from the url below
# Hint: use the read_excel() function rather than using the read_csv() function
# ---
# Dataset url = http://bit.ly/WindmillDataset
# ---
# OUR CODE GOES BELOW
#
df = pd.read_excel("http://bit.ly/WindmillDataset")

df.head()

  Windmill  Wind Speed (m/s)  Power output (MW)
0       a1          1.096875           0.000000
1       a2          1.231528           0.000000
2       a3          1.275139           0.005479
3       a4          1.365486           0.010104
4       a5          1.387778           0.010812

## 2. Data Exploration

In [12]:
# Example 2a
# ---
# Determining the no. of records in the dataset 
# NB: We will use the above loaded dataset in example 1
# ---
# OUR CODE GOES BELOW
#

# Shape returns no. or records/instances (left) and columns/variables (right)
#
df.shape

(365, 3)

In [13]:
# Challenge 2a
# ---
# Question: Determine the no. of records in the our video games dataset.
# ---  
# OUR CODE GOES BELOW
#
df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")

df.shape

(17416, 15)

In [14]:
# Example 2b
# ---
# Previewing the last few records/instances of our dataset
# NB: last() gives us the last 5 records/instances
# ---
# OUR CODE GOES BELOW
#
df.tail()

                                                   Name  ... Rating
17411  Nancy Drew: The Deadly Secret of Olde World Park  ...      E
17412                      Fashion Designer: Style Icon  ...    NaN
17413            Ashita no Joe 2: The Anime Super Remix  ...    NaN
17414            NadePro!! Kisama no Seiyuu Yatte Miro!  ...    NaN
17415                     Brian Lara 2007 Pressure Play  ...    NaN

[5 rows x 15 columns]

In [19]:
# Challenge 2c
# ---
# Question: Preview the last few records in the video games dataset.
# Hint = Use the dataframe you created for this dataset. 
# ---
# OUR CODE GOES BELOW
#
df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")
df.tail()

                                                   Name  ... Rating
17411  Nancy Drew: The Deadly Secret of Olde World Park  ...      E
17412                      Fashion Designer: Style Icon  ...    NaN
17413            Ashita no Joe 2: The Anime Super Remix  ...    NaN
17414            NadePro!! Kisama no Seiyuu Yatte Miro!  ...    NaN
17415                     Brian Lara 2007 Pressure Play  ...    NaN

[5 rows x 15 columns]

In [17]:
# Example 2c
# ---
# Checking the datatypes of df variables (columns)
# --- 
# OUR CODE GOES BELOW
#
df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Rating              object
dtype: object

In [18]:
# Challenge 2d
# ---
# Question: Check the datatypes of the video games dataset.
# ---
# OUR CODE GOES BELOW
# 
df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")

df.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score         float64
User_Count         float64
Rating              object
dtype: object

## 3. Missing Data

In [20]:
# Example 3a
# ---
# Checking for missing data
# NB: This method may not be the most convenient. Why? 
# --- 
# 
# We can check if there is any missing values in the entire dataframe as shown 
# ---
# OUR CODE GOES BELOW
# 
df.isnull()

        Name  Platform  Year_of_Release  ...  User_Score  User_Count  Rating
0      False     False            False  ...       False       False   False
1      False     False            False  ...        True        True    True
2      False     False            False  ...       False       False   False
3      False     False            False  ...       False       False   False
4      False     False            False  ...        True        True    True
...      ...       ...              ...  ...         ...         ...     ...
17411  False     False            False  ...        True        True   False
17412  False     False            False  ...        True        True    True
17413  False     False            False  ...        True        True    True
17414  False     False            False  ...        True        True    True
17415  False     False            False  ...        True        True    True

[17416 rows x 15 columns]

In [22]:
# Example 3b
# --- 
# We can also check for missing values in each column 
# ---
# OUR CODE GOES BELOW
#
df.isnull().any()

Name               False
Platform           False
Year_of_Release     True
Genre              False
Publisher           True
NA_Sales           False
EU_Sales           False
JP_Sales           False
Other_Sales        False
Global_Sales       False
Critic_Score        True
Critic_Count        True
User_Score          True
User_Count          True
Rating              True
dtype: bool

In [23]:
# Example 3c
# ---
# We can check how many missing values there are across each column by 
# ---
# OUR CODE GOES BELOW
#
df.isnull().sum()

Name                  0
Platform              0
Year_of_Release       8
Genre                 0
Publisher             1
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       9080
Critic_Count       9080
User_Score         9618
User_Count         9618
Rating             7164
dtype: int64

In [24]:
# Example 3d
# ---
# We can also check to see if we have any missing values in the dataframe  
# ---
# OUR CODE GOES BELOW
#
print(df.isnull().values.any())

True

In [25]:
# Example 3e: Method 1
# ---
# Dealing with the missing data
# ---
# OUR CODE GOES BELOW
# 

# We can drop the missing observations 
# ---
#
df_no_missing = df.dropna()

# Checking for missing data
df_no_missing.isnull().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Rating             0
dtype: int64

In [28]:
# Example 3e: Method 2
# ---
# We can drop rows where all cells in that row is NA
# ---
# OUR CODE GOES BELOW
# 
df_cleaned = df.dropna(how='all')

# Checking the shape of our dataset
df_cleaned.shape

(17416, 15)

In [29]:
# Example 3e: Method 3
# ---
# We could drop columns if they only contain missing values
# ---
# OUR CODE GOES BELOW
# 
df_without_columns = df.dropna(axis=1, how='all')

# Checking the shape of our dataset
df_without_columns.shape

(17416, 15)

In [30]:
# Example 3e: Method 4
# ---
# We could drop rows that contain less than five observations
# ---
# OUR CODE GOES BELOW
# 
df.dropna(thresh=5)

# Checking the shape of our dataset
df.shape


# Further reading
# ----
# Above are only a few methods of dealing with missing data.

(17416, 15)

In [31]:
# Challenge 3a
# ---
# Question: Find the missing values in the video games datset below
# You can use any of the above methods to you see fit.
# ---  
# OUR CODE GOES BELOW
df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")

print(df.isnull().values.any())

True

In [34]:
# Challenge 3b
# ---
# Question: Handle the missing values in video games dataset
# You can any of the above methods that you see fit.
# ---
# OUR CODE GOES BELOW
# 

df = pd.read_csv("http://bit.ly/VideoGamesSalesDataset")
df_no_missing = df.dropna()
df_no_missing.isnull().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Rating             0
dtype: int64

## 4. Filtering

In [36]:
# Example 4a
# ---
# Selecting rows when columns contain certain values
# ---
# NB: Selecting records where petal_length is 5.0 
# ---
# OUR CODE GOES BELOW
# 

# Selecting the records where column has certain values 
# ---
#
df = pd.read_csv("http://bit.ly/IrisDataset")
df[df.petal_length.isin(['5.0'])]

     sepal_length  sepal_width  petal_length  petal_width          species
77            6.7          3.0           5.0          1.7  Iris-versicolor
113           5.7          2.5           5.0          2.0   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica

In [39]:
# Challenge 4a
# ---
# Question: Select records where the sepal_width is 3.0
# ---
# OUR CODE GOES BELOW
# 
df = pd.read_csv("http://bit.ly/IrisDataset")
df[df.sepal_width.isin(['3.0'])]

     sepal_length  sepal_width  petal_length  petal_width          species
1             4.9          3.0           1.4          0.2      Iris-setosa
12            4.8          3.0           1.4          0.1      Iris-setosa
13            4.3          3.0           1.1          0.1      Iris-setosa
25            5.0          3.0           1.6          0.2      Iris-setosa
38            4.4          3.0           1.3          0.2      Iris-setosa
45            4.8          3.0           1.4          0.3      Iris-setosa
61            5.9          3.0           4.2          1.5  Iris-versicolor
66            5.6          3.0           4.5          1.5  Iris-versicolor
75            6.6          3.0           4.4          1.4  Iris-versicolor
77            6.7          3.0           5.0          1.7  Iris-versicolor
84            5.4          3.0           4.5          1.5  Iris-versicolor
88            5.6          3.0           4.1          1.3  Iris-versicolor
91            6.1          3.0           4.6          1.4  Iris-versicolor
95            5.7          3.0           4.2          1.2  Iris-versicolor
102           7.1          3.0           5.9          2.1   Iris-virginica
104           6.5          3.0           5.8          2.2   Iris-virginica
105           7.6          3.0           6.6          2.1   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
116           6.5          3.0           5.5          1.8   Iris-virginica
127           6.1          3.0           4.9          1.8   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
138           6.0          3.0           4.8          1.8   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica

In [40]:
# Example 4b
# ---
# Selecting the records where column doesn't have certain values 
# in our case, where petal_leghth is not 5.0
# ---
# OUR CODE GOES BELOW
# 
df = pd.read_csv("http://bit.ly/IrisDataset")
df[~df.petal_length.isin(['5.0'])]

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[146 rows x 5 columns]

In [0]:
# Challenge 4b
# ---
# Question: Select all the Sports video games from the video games dataset.
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 4c
# ---
# Selecting records using filters where petal_width greater than 1.9
# ---
# OUR CODE GOES BELOW
# 

df[(df['petal_width'] > 1.9)]

In [0]:
# Challenge 4c
# ---
# Question: Which video games had global sales greater than 50?
# ---
# OUR CODE GOES BELOW
#

## 5. Sorting

In [0]:
# Example 5a
# --- 
# Load the given dataframe in ascending order by reports 
# ---
# OUR CODE GOES BELOW
# 
 
# Sorting our dataset in ascending order by sepal_length
# ---
# 
df.sort_values(by='sepal_length', ascending=1)

In [0]:
# Challenge 5a 
# --- 
# Load the video games dataframe in descending order by Name.
# Hint: ascending = 0 
# ---
# OUR CODE GOES BELOW
#

## 6. Splitting, Merging and Concatenation

In [0]:
# Example 6a
# --- 
# Split the dataframe species column into two columns by using the "-" character
# ---
# OUR CODE GOES BELOW
# 
 
# Dropping null value columns to avoid errors 
df.dropna(inplace = True) 
  
# New data frame with split value columns 
new_df = df["species"].str.split("-", n = 1, expand = True) 
  
# Naking separate first name column from new data frame 
df["family"]= new_df[0] 
  
# Making separate last name column from new data frame 
df["sub-species"]= new_df[1] 
  
# Dropping old Name columns 
df.drop(columns =["species"], inplace = True) 
  
# Displaying our dataframe
df

In [0]:
# Example 2
# ---
# Concatenating (merging) two columns in a dataframe
# ---  
# OUR CODE GOES BELOW
# 

# Concatenating our column
# 
df['species'] = df['family'].str.cat(df['sub-species'],sep="-")

# Dropping old name columns 
#
df.drop(columns = ["family", "sub-species"], inplace = True) 

# Previewing our new dataframe
#
df.head()

In [0]:
# Challenge 6a
# --- 
# Concatenate the the city and state columns from the dataset below. 
# The resulting region column should have city and state seperated by a comma and whitespace.
# ---
# Dataset url = http://bit.ly/SchoolShootingsDataset
# ---
# Step 1: Load the dataset
# Step 2: Preview the dataset 
# Step 3: Perform your concatenation
# Step 4: Dropping old columns
# Step 4: Preview your final dataframe
# ---
# OUR CODE GOES BELOW
#

In [0]:
# Example 6b
# ---
# Merging two dataframes. 
# In this example, we will create two simple dataframes for demonstration purposes.
# ---  
# OUR CODE GOES BELOW
# 

# Let's create our first dataframe and preview it
# 
df1 = pd.DataFrame([[2, 3], [41, 51]], columns=['a', 'b'])
df1.head()

In [0]:
 # Let our second dataframe and preview it
#
df2 = pd.DataFrame([[2, 5], [41, 6]], columns=['a', 'c'])
df2.head()

In [0]:
# Merging our dataframes and storing our resulting dataframe in df3, then previewing it 
# 
df3 = df1.merge(df2, how='left', on='a') 
df3.head()

In [0]:
# Challenge 6b
# --- 
# Merge the following two datasets
# ---
# Dataset 1 url = http://bit.ly/CItiesDB
# Dataset 2 url = http://bit.ly/CountriesDB1
# ---
# OUR CODE GOES BELOW
#

## 7. Exporting Data

In [0]:
# Pre-requisite 7
# ---
# Importing files module 
# ---
# OUR CODE GOES BELOW
#  

# Files module will allow us to download our file from colaboratory
from google.colab import files

In [0]:
# Example 7a
# --- 
# Load the given dataframe in ascending order by reports 
# ---
# OUR CODE GOES BELOW
# 
  
# Create our sample dataframe
data = {'name': ['Daniel', 'Joyce', 'Elizabeth', 'Sanni', 'Sefu'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3]}
df = pd.DataFrame(data, index = ['Nairobi', 'Cairo', 'Cape Town', 'Adis Ababa', 'Mombasa'])
df.head()

In [0]:
# Exporting our sample dataframe as a csv
# ---
# 
 
df.to_csv('example.csv') 

# NB: In order to download our files from colaboratory we need to run the following
#
files.download('example.csv')

In [0]:
# Challenge 7a
# ---
# Question: Export a csv file of your resulting video games dataframe below 
# --- 
# OUR CODE GOES BELOW
#

In [0]:
# Example 7b
# ---
# Exporting our sample dataframe as a excel file (xlsx)
# --- 
# ---
# OUR CODE GOES BELOW
#  

df.to_excel('example.xlsx') 

# NB: In order to download our files from colab we need to run the following
#
files.download('example.xlsx')

In [0]:
# Challenge 7b
# ---
# Question: Export an excel file of your resulting video games dataframe below 
# --- 
# OUR CODE GOES BELOW
#